name: validate-source-branch

on:
  pull_request:
    types: [opened, reopened, synchronize, edited]
    # apply only when the PR targeting main or stage
    branches: [ main, stage ]

jobs:
  validate:   # <-- job id
    name: source-branch-policy  # <-- job name (what shows in UI)
    runs-on: ubuntu-latest
    steps:
      - name: Validate source branch name
        shell: bash
        run: |
          SRC="${{ github.head_ref }}"

          echo "Source branch: $SRC"

          # Explicitly block stage 
          if [[ "$SRC" == "stage" ]]; then
            echo "::error::Merges from 'stage' are not allowed."
            exit 1
          fi

          # Allow only these prefixes
          if [[ "$SRC" =~ ^(feature|bugfix|hotfix)/.+$ ]]; then
            echo "Allowed source branch."
            exit 0
          fi

          echo "::error::Source branch must be feature/*, bugfix/*, or hotfix/*."
          exit 1
